@tailwind base;
@tailwind components;
@tailwind utilities;
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
@font-face{
    font-family: lora;
    src: url('../font/Lora-VariableFont_wght.ttf') format('opentype');
}